@import "../../_globalColor";

.experience-container {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
  margin-top: 2rem;
}

.experience-wrapper {
  width: 100%;
  max-width: 1100px; /* Contiene la larghezza per non farlo "spalmare" troppo */
}

.experience-heading {
  font-size: 50px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
  text-align: left; /* Titolo a sinistra come gli altri */
  color: $titleColor;
}

.experience-cards-div {
  display: flex;
  flex-direction: column; /* Lista verticale di card */
  gap: 20px;
}

/* Media Query */
@media (max-width: 1024px) {
  .experience-heading {
    text-align: center;
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .experience-heading {
    font-size: 32px;
  }
  .experience-container {
    padding: 40px 10px;
  }
}