@import "../../_globalColor";

.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 8rem;
}

.greeting-main {
  display: flex;
  align-items: center; /* Centra verticalmente immagine e testo */
}

.greeting-text-div {
  width: 55%;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* ALLINEA TUTTO A SINISTRA */
}

.greeting-image-div {
  width: 45%;
}

.greeting-text {
  font-size: 65px;
  line-height: 1.1;
  color: $textColor;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: left;
}

.greeting-text-p {
  font-size: 22px;
  line-height: 1.6;
  color: $subTitle;
  margin-bottom: 30px;
  text-align: left;
}

/* SOCIAL MEDIA (Spostati qui per controllo locale) */
.greeting-text-div .social-media-div {
  margin-top: 0;
  margin-bottom: 30px; /* SPAZIO TRA SOCIAL E BOTTONI */
  text-align: left;
  padding-left: 0;
  margin-left: -10px; /* Compensa il padding delle icone per allineamento ottico */
}

/* BOTTONI */
.button-greeting-div {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: flex-start; /* Allinea a sinistra */
}

.button-greeting-div > * {
  margin: 0 !important;
}

@media (max-width: 768px) {
  .greeting-main {
    flex-direction: column-reverse;
    margin-top: -40px;
  }
  .greeting-text-div {
    width: 100%;
    align-items: center; /* Su mobile centra tutto */
    text-align: center;
    padding-right: 0;
  }
  .greeting-text, .greeting-text-p {
    text-align: center;
  }
  .greeting-text-div .social-media-div {
    text-align: center;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .button-greeting-div {
    justify-content: center;
  }
  .greeting-image-div {
    width: 100%;
    margin-bottom: 40px;
  }
}