@import "../../_globalColor";

.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 8rem;
}

.greeting-main {
  display: flex;
  align-items: center;
}

.greeting-text-div {
  width: 55%;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.greeting-image-div {
  width: 45%;
}

.greeting-text {
  font-size: 65px;
  line-height: 1.1;
  color: $textColor;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: left;
}

.greeting-text-p {
  font-size: 22px;
  line-height: 1.6;
  color: $subTitle;
  margin-bottom: 30px;
  text-align: left;
}

.greeting-text-div .social-media-div {
  margin-bottom: 30px;
  text-align: left;
  margin-left: -10px;
}

.button-greeting-div {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

/* MOBILE RESPONSIVE FIX */
@media (max-width: 960px) {
  .greet-main {
    margin-top: 4rem;
  }
  
  .greeting-main {
    flex-direction: column-reverse; /* Immagine sopra il testo */
    text-align: center;
  }

  .greeting-text-div {
    width: 100%;
    padding-right: 0;
    align-items: center; /* Centra orizzontalmente */
  }

  .greeting-image-div {
    width: 80%;
    margin-bottom: 40px;
  }

  .greeting-text {
    font-size: 40px; /* Font più piccolo */
    text-align: center;
  }

  .greeting-text-p {
    font-size: 18px;
    text-align: center;
  }

  .greeting-text-div .social-media-div {
    text-align: center;
    margin-left: 0;
    justify-content: center;
    display: flex;
  }

  .button-greeting-div {
    justify-content: center;
  }
}